# Native Platforms (CNG)
android/
ios/
.expo/

# Build and Bundles
build/
dist/
*.bundle
*.jsbundle
module.container.js.bundle
host.container.js.bundle
esad_template_module.container.js.bundle
*.chunk.bundle

# Dependencies
node_modules/

# Environment and Secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
local.properties
*.keystore
!debug.keystore

# IDEs
.idea/
.vscode/
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Misc
*.hprof
.kotlin/
.cxx/
.gradle/
/coverage/
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
